{% extends 'srs/base.html' %}

{% block content %}
    <h1>About</h1>

   <p> # Notes
#### All information stores in MongoLab, so we can use the same set of data<br />
### Current exsiting user
Username: admin <br />
Password: admin1234<br />

# Develop Online Scientific Reference System<br />
## Senior Project<br />

 *Phase 1:*<br />
 *Date: 9/16/2015*<br />
 *Adding new module - file* <br />

### SUMMARY<br />
Develop scientific citation (reference) system for large 
 research support effort. This involves webpage development
including audio, video, frames, menus, html webpages, etc<br />

### Advisor<br />
Mark Schmalz<br />

### Tasks 
<br /> 

### Meeting Time
Every Monday and Friay From 3:30 PM

### Suggested Read Material <br /> 
#####Project Installation Guide<br /> 
#####[General overview with product roundup](https://en.wikipedia.org/wiki/Comparison_of_reference_management_software)<br /> 
#####[A slightly different perspective, from UC Berkeley](http://www.lib.berkeley.edu/sciences/managing_citations)<br /> 
</p>

{% endblock %}