{% extends 'srs/base.html' %}

{% block content %}

<div class="content-box">
	<h2 class="underline">Notes</h2>
	<p class="text-block">All information stores in MongoLab, so we can use the same set of data</p>

	<h2 class="underline">Current Admin User</h2>
	<p class="text-block">
		Username: admin<br />
		Password: admin1234
	</p>

	<h2 class="underline">Summary</h2>
	<p class="text-block">
		Develop scientific citation (reference) system for large 
		research support effort. This involves webpage development
		including audio, video, frames, menus, html webpages, etc
	</p>

	<h2 class="underline">Senior Project</h2>
	<p class="text-block">
		Phase 2:<br />
		Date: 8/21/2017<br />
		Updating Reference System to Include New Formats
	</p>

	<h2 class="underline">Advisor</h2>
	<p class="text-block">Mark Schmalz</p>
</div>

{% endblock %}