{% extends 'srs/base.html' %}

{% block content %}
<h1>About</h1>
<p>
### Notes ###<br />
All information stores in MongoLab, so we can use the same set of data<br /><br />
### Current exsiting user ###<br />
Username: admin<br />
Password: admin1234<br /><br />

### SUMMARY ###<br />
Develop scientific citation (reference) system for large 
research support effort. This involves webpage development
including audio, video, frames, menus, html webpages, etc<br /><br />

### Senior Project ###<br />
Phase 2:<br />
Date: 5/2/2017<br />
Updating Reference System to Include New Formats<br />

### SUMMARY ###<br />
Develop scientific citation (reference) system for large 
 research support effort. This involves webpage development
including audio, video, frames, menus, html webpages, etc<br /><br />

### Advisor ###<br />
Mark Schmalz<br /><br />
</p>

{% endblock %}