{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'selection_view' %}" ><h2>Return to View Select</h2></a>
{% endblock %}

{% block content %}
    
    {% for audio in audios %}
        <a class="audio_select" data-path="/media/{{audio.audio}}" title="{{audio.title}}" data-source="{{audio.url}}">
            <div class="notefile-listing">
                <span>&nbsp;<i class="fa fa-play-circle"></i> &nbsp;{{audio.title}}</span>
            </div>
        </a>
    {% endfor %}

    <!-- Audio Modal -->
    <div id="audiomodal" class="modal audio-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button id="audio_close" class="close_btn btn">Close</button>
                    <h2 class="audio-modal-title">Audio Player</h2>
                </div>
                <div class="modal-body">
                    <h3 id="audiotitle">Title</h3>
                    <h3 id="audiosource">Source: </h3>

                    <div id="waveform"></div>
                    <div class="text-center">
                        <button id="play_btn" class="btn">Play <i class="fa fa-play"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="backdrop"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <script type="text/javascript" src="{% static 'js/loadAudio.js' %}"></script>
{% endblock %}
