{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>SRS</title>
  <meta name="description" content="[UPDATE]" />
  <meta name="keywords" content="SQUARENOTE references" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon.ico/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon.ico/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon.ico/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon.ico/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon.ico/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon.ico/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon.ico/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon.ico/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.ico/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon.ico/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.ico/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon.ico/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon.ico/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicon.ico/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Bootstrap -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  <link rel="stylesheet" href="{% static 'css/srs.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/image_slide.js' %}"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="banner">
        <div id="welcome">
          <h1>Scientific Reference System</h1>
        </div><!--close welcome-->
        <div id="welcome_slogan">
          <h1>The Idea Librarian</h1>
        </div><!--close welcome_slogan-->
      </div><!--close banner-->
    </div><!--close header-->

    <div id="menubar">
      <ul id="menu">
        <li {% if request.path == "/" %} class="current" {% endif %} ><a href="{% url 'welcome' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li {% if "/srs/" in request.path %} class="current" {% endif %} ><a href="{% url 'home_directory' %}">SRS</a></li>
        {% endif %} 
        <li {% if request.path == "/about/" %} class="current" {% endif %}><a href="{% url 'about' %}">About Us</a></li>
        <li {% if request.path == "/contact/" %} class="current" {% endif %}><a href="{% url 'contact' %}">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a id="last_nav" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a id="last_nav" href="{% url 'admin:index' %}">Login</a></li>

        {% endif %}
      </ul>
    </div><!--close menubar--> 
    <div style="clear: both;"></div> 

    <div id="site_content"> 

      {% block sidebar_content %}
      {% endblock %}  
      <div id="content">
        <div class="content_item">
            {% block content %}
            {% endblock %}           
        </div><!--close content_item-->
      </div><!--close content-->  
    </div><!--close site_content--> 
  
  <div id="footer">
    <p style='text-align: center;'>
        <span style='margin-bottom: 1em; display: block'>
            Version 1.0 February 2017
        </span>
        <span>
            &copy;Copyright 2017. All rights reserved.
        </span>
    </p>
  </div><!--close footer-->  
  
</body>
</html>

<script>
window.addEventListener("keydown", function(e) {
    // space and arrow keys
    if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
        e.preventDefault();
    }
}, false);
</script>
