{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>SRS</title>
  <meta name="description" content="[UPDATE]" />
  <meta name="keywords" content="SQUARENOTE references" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" href="{% static 'css/srs.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/image_slide.js' %}"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="banner">
        <div id="welcome">
          <h1>Scientific Reference System</h1>
        </div><!--close welcome-->
        <div id="welcome_slogan">
          <h1>The Idea Librarian</h1>
        </div><!--close welcome_slogan-->
      </div><!--close banner-->
    </div><!--close header-->

    <div id="menubar">
      <ul id="menu">
        <li {% if request.path == "/" %} class="current" {% endif %} ><a href="{% url 'welcome' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li {% if "/srs/" in request.path %} class="current" {% endif %} ><a href="{% url 'home_directory' %}">SRS</a></li>
        {% endif %} 
        <li {% if request.path == "/about/" %} class="current" {% endif %}><a href="{% url 'about' %}">About Us</a></li>
        <li {% if request.path == "/contact/" %} class="current" {% endif %}><a href="{% url 'contact' %}">Contact Us</a></li>
        <!-- PULL RIGHT WITHOUT BREAK; -->
        {% if user.is_authenticated %}
        <li><a id="last_nav" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a id="last_nav" href="{% url 'admin:index' %}">Login</a></li>

        {% endif %}
      </ul>
    </div><!--close menubar--> 
    <div style="clear: both;"></div> 

    <div id="site_content"> 

      {% block sidebar_content %}
      {% endblock %}  
     
      <div id="content">
        <div class="content_item">
            {% block content %}
            {% endblock %}           
        </div><!--close content_item-->
      </div><!--close content-->  
    </div><!--close site_content--> 
  
  <div id="footer">
    <p style='text-align: center;'>
        <span style='margin-bottom: 1em; display: block'>
            Version 1.0 February 2017
        </span>
        <span>
            &copy;Copyright 2017. All rights reserved.
        </span>
    </p>
  </div><!--close footer-->  
  
</body>
</html>
