{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="content-box">
	<div style='z-index: -1; width: 940px'>
        <div class="heading-title text-center" style="margin-bottom: 3em;">
            <h2 class="semester" style="margin-top: 0">Advisor</h2>
        </div>


            <div class="col-md-4 col-sm-4" style="margin: 0 auto;">
                <div class="team-member">
                    <div class="team-img">
                        <img src="{% static 'images/MarkSc.png' %}" alt="team member" class="img-responsive" height="392" width="392">
                    </div>
                    <div class="team-title">
                        <h4>Mark Schmalz</h4>
                        <h5 style="padding-bottom: 5px;">Advisor / Faculty member at University of Florida's Department of CISE.</h5>
                        <h5 style="padding-bottom: 5px;">Email: <a class="email" href="mailto:mssz@cise.ufl.edu?Subject=New%20Message%20From%20SRS%20Site">mssz@cise.ufl.edu</a></h5>
                        <div class="s-link">
                        </div>
                    </div>
                </div>
            </div>

        <div style="clear: both;"></div>

    	<div class="heading-title text-center" style="margin-bottom: 3em;">
            <h2 class="semester">Spring 2017</h2>
        </div>

            <div class="col-md-4 col-sm-4" style="margin-bottom: 3em;">
                <div class="team-member">
                    <div class="team-img">
                        <img src="{% static 'images/LisbethC.jpg' %}" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-title">
                        <h4>Lisbeth Cardoso</h4>
                        <h5 style="padding-bottom: 5px;"">Undergraduate Student - Computer Science</h5>
                        <h5 style="padding-bottom: 5px;"">Email: <a class="email" href="mailto:lcardoso@ufl.edu?Subject=New%20Message%20From%20SRS%20Site">lcardoso@ufl.edu</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" style="margin-bottom: 3em;">
                <div class="team-member">
                    <div class="team-img">
                        <img src="{% static 'images/TerryP.png' %}" alt="team member" class="img-responsive" height="392" width="392">
                    </div>
                    <div class="team-title">
                        <h4>Terry Philippe</h4>
                        <h5 style="padding-bottom: 5px;"">Student - Computer Science</h5>
                        <h5 style="padding-bottom: 5px;"">Email: <a class="email" href="mailto:tjphilippe@ufl.edu?Subject=New%20Message%20From%20SRS%20Site">tjphilippe@ufl.edu</a></h5>
                    </div>
                </div>
            </div>
            
        <div class="heading-title text-center" style="margin-bottom: 3em;">
            <h2 class="semester">Fall 2017</h2>
        </div>

            <div class="col-md-4 col-sm-4" style="margin-bottom: 3em;">
                <div class="team-member">
                    <div class="team-img">
                        <img src="{% static 'images/KyleW.jpg' %}" alt="team member" class="img-responsive" height="392" width="392">
                    </div>
                    <div class="team-title">
                        <h4>Kyle Walsh</h4>
                        <h5 style="padding-bottom: 5px;"">Undergraduate Student - Computer Science Engineering</h5>
                        <h5 style="padding-bottom: 5px;"">Email: <a class="email" href="mailto:kylegwalsh@ufl.edu?Subject=New%20Message%20From%20SRS%20Site">kylegwalsh@ufl.edu</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" style="margin-bottom: 3em;">
                <div class="team-member">
                    <div class="team-img">
                        <img src="{% static 'images/LisbethC.jpg' %}" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-title">
                        <h4>Lisbeth Cardoso</h4>
                        <h5 style="padding-bottom: 5px;"">Undergraduate Student - Computer Science</h5>
                        <h5 style="padding-bottom: 5px;"">Email: <a class="email" href="mailto:lcardoso@ufl.edu?Subject=New%20Message%20From%20SRS%20Site">lcardoso@ufl.edu</a></h5>
                    </div>
                </div>
            </div>

    </div>
</div>

{% endblock %}
