{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% endblock %}

{% block content %}
    <h2>Add audio</h2>
    <p>The source for the audio can be a local audio file or an audio URL.</p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'notecard_detail' pk=pk %}" class="cancel btn btn-default">Cancel</a>
        {% if badSource %}
            <p class="error">Error: The source you entered is invalid!</p>
        {% endif %}
        {% if badType %}
            <p class="error">Error: The file must be audio!</p>
        {% endif %}
    </form>
{% endblock %}
