{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% endblock %}

{% block content %}
    <h2>Add Equation</h2>
    <p>The equation will be formatted after being added.<br>(Group terms with "{}" and call special functions using syntax like "\sqrt") </p>
    <!-- This is the fake input that allows equations -->
    <form method="POST" class="post-form hidden-input" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'notecard_detail' pk=pk %}" class="cancel btn btn-default">Cancel</a>
    </form>

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}
