{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% endblock %}

{% block content %}
    <h2>Add video</h2>
    <p>The source for the video can be a local video file, a youtube URL, or a video URL.</p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'notecard_detail' pk=pk %}" class="cancel btn btn-default">Cancel</a>
        {% if badSource %}
            <p class="error">Error: The source you entered is invalid!</p>
        {% endif %}
        {% if youtubeError %}
            <p class="error">Error: There was a problem downloading the youtube video!</p>
        {% endif %}
        {% if badType %}
            <p class="error">Error: The file must be a video!</p>
        {% endif %}
        {% if badType %}
            <p class="error">Error: The file must be smaller than 4GB!</p>
        {% endif %}
    </form>
{% endblock %}
