{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% endblock %}

{% block content %}
    <h2>Add Equation</h2>
    <!-- This is the container for the equation editor -->
    <p>Equation:</p>
    <div id="editorContainer"></div>
    <a id="eqn-btn" class="save btn btn-default">Save</button>
    <a href="{% url 'notecard_detail' pk=pk %}" class="cancel btn btn-default">Cancel</a>

    <form method="POST" class="post-form hidden" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
    </form>

    <script src = "http://www.wiris.net/demo/editor/editor"></script>
    <script src="{% static 'js/submitEquation.js' %}"></script>

{% endblock %}
