{% extends 'srs/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% endblock %}

{% block content %}
    <h2>Add audio</h2>
    <p>Enter the file path or URL for the audio you want to add.</p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'notecard_detail' pk=pk %}" class="cancel btn btn-default">Cancel</a>
        {% if badSource %}
            <p class="error">Error: The source you entered is invalid!</p>
        {% endif %}
        {% if badType %}
            <p class="error">Error: The audio must be of type .mp3, .wma, .m4a, .webm or .wav!</p>
        {% endif %}
    </form>
{% endblock %}
