{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'create_directory' pk=pk %}" ><h2>Create Directory</h2></a>
    <a href="{% url 'create_notefile' pk=pk %}" ><h2>Create Notefile</h2></a>
    {% if pk != 1 %}
        {% if parent.pk == 1 %}
            <a href="{% url 'home_directory' %}" ><h2>Back</h2></a>
        {% else %}
            <a href="{% url 'directory_content' pk=parent.pk %}" ><h2>Back</h2></a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

	<p class='underline directory-title'>{{ name }}</p>

    <div class="directory-container">
    	{% for directory in directories %}
            <div class="directory-listing">
    			<a class="directory_link" href="{% url 'directory_content' pk=directory.pk %}" >
                    <img class="directory_icon" src="{% static 'images/folder_close.png' %}">
                        <div class="directory-listing-inner">
                            <span>{{ directory.name }}</span>
                        </div>
                    </img>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="notefile-container">        
        {% for notefile in notefiles %}
            {% if pk == 1 %}
 			    <a class="notefile_link" href="{% url 'notefile_detail' name=notefile.name %}" >
                    <div class="notefile-listing">
                        <span>{{ notefile.name }}</span>
                    </div>
                </a>            
            {% else %}
                <a class="notefile_link" href="{% url 'notefile' directory=notefile.directory notefile=notefile.name %}" >
                    <div class="notefile-listing">
                        <span>{{ notefile.name }}</span>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}