{% extends 'srs/base.html' %}

{% block content %}
    <p>Please enter the name of the file to export to.</p>
    <form action="{% url 'export_notecard' pk=pk %}" method="POST">{% csrf_token %}
    	{{form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'notecard_list' pk=pk %}" class="cancel btn btn-default">Cancel</a>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="error {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
