{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'selection_view' %}" ><h2>Return to View Select</h2></a>
{% endblock %}

{% block content %}
    {% for image in images %}
      <div class="video_container">
          <p class="vid_info">{{image.name}}</p>
          <a data-path="/media/{{image.image}}" title="{{image.name}}" data-source="{{image.source}}" class="image-trigger"><img src="/media/{{image.image}}" width="190px" height="140px"></a>
      </div>
    {% endfor %}

    <!-- Image Modal -->
    <div id="imagemodal" class="image-modal">
      <span class="image-close">&times;</span>

      <img class="image-modal-content" id="modal-image">

      <strong><div id="image-caption"></div></strong>
      <strong><div id="image-source"></div></strong>
    </div>

    <div class="backdrop"></div>

    <script type="text/javascript" src="{% static 'js/loadImage.js' %}"></script>
{% endblock %}
