{% extends 'srs/base_srs.html' %}

{% block site_content %}
    <a href="{% url 'notecard_list' name=name %}"><h2>Main Menu</h2></a>
{% endblock %}


{% block content %}
    <p>Please enter the name of the file to import from.</p>
    <form action="{% url 'import_notecard' name=name %}" method="POST">{% csrf_token %}
    	{{form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="submit" class="cancel btn btn-default">Cancel</button>
</form>
{% endblock %}
