{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'selection_view' %}"><h2>Return to View Select</h2></a>
    <a href="{% url 'create_equation' pk=notecard.pk %}" class="top-menu"><h2>Add Equation</h2></a>
    <a href="{% url 'create_image' pk=notecard.pk %}" class="top-menu"><h2>Add Image &nbsp;&nbsp;<i class="fa fa-file-image-o"></i></h2></a>
    <a href="{% url 'create_video' pk=notecard.pk %}" class="top-menu"><h2>Add Video &nbsp;&nbsp;<i class="fa fa-video-camera"></i></h2></a>
    <a href="{% url 'create_audio' pk=notecard.pk %}" class="top-menu"><h2>Add Audio &nbsp;&nbsp;<i class="fa fa-music"></i></h2></a>
    <a href="{% url 'create_document' pk=notecard.pk %}" class="top-menu"><h2>Add Document &nbsp;&nbsp;<i class="fa fa-file"></i></h2></a>
    <a href="{% url 'duplicate_notecard' pk=notecard.pk %}" class="top-menu"><h2>Duplicate Notecard</h2></a>
    <a href="{% url 'notecard_list' pk=pk %}"><h2>Back</h2></a>
    <a ><h2>Help</h2></a>
{% endblock %}

{% block content %}
    <div class="notecard">
        <h2>Title:</h2>
        <p>{{ notecard.name }}</p>
        <h2>Keywords:</h2>
        <p>{{ notecard.keywords }}</p>
        <h2>Body:</h2>
        <p class="blue-links">{% autoescape off %}{{ notecard.body }}{% endautoescape %}</p>
        {% if equations %}
          <h2>Equations:</h2>
          {% for equation in equations %}
              <p class="equation-container">{% autoescape off %}{{equation.equation}}{% endautoescape %}</p>
          {% endfor %}
        {% endif %}

        {% if images %}
          <h2>Images:</h2>
          {% for image in images %}
            <div class="video_container">
                <p class="vid_info">{{image.name}}</p>
                <a data-path="/media/{{image.image}}" title="{{image.name}}" data-source="{{image.source}}" class="image-trigger"><img src="/media/{{image.image}}" width="190px" height="140px"></a>
            </div>
          {% endfor %}
        {% endif %}

        {% if videos %}
          <h2>Videos:</h2>
          {% for video in videos %}
              <div class="video_container">
                  <p class="vid_info">{{video.title}}</p>
                  <a class="video_select" data-path="/media/{{video.video}}" title="{{video.title}}" data-source="{{video.url}}"><img src="/media/{{video.thumbnail}}" width="190px" height="140px"></a>
              </div>
          {% endfor %}
        {% endif %}

        {% if audios %}
          <h2>Audio:</h2>
          {% for audio in audios %}
              <a class="audio_select" data-path="/media/{{audio.audio}}" title="{{audio.title}}" data-source="{{audio.url}}">
                  <div class="notefile-listing">
                      <span>&nbsp;<i class="fa fa-play-circle"></i> &nbsp;{{audio.title}}</span>
                  </div>
              </a>
          {% endfor %}
        {% endif %}

        {% if documents %}
          <h2 class="top-pad">Documents:</h2>
          {% for document in documents %}
              <p class="document_link_container">
                <a class="document_link" href="/media/{{document.document}}" title="{{document.name}}">{{document.name}}</a>
              </p>
          {% endfor %}
        {% endif %}

        <!-- Image Modal -->
        <div id="imagemodal" class="image-modal">
          <span class="image-close">&times;</span>

          <!-- Modal content-->
          <img class="image-modal-content" id="modal-image">

          <strong><div id="image-caption"></div></strong>
          <strong><div id="image-source"></div></strong>
        </div>

        <!-- Video Modal -->
        <div id="vidmodal" class="modal video-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="vid_close" class="close_btn btn">Close</button>
                        <h2 class="video-modal-title">Video Player</h2>
                    </div>
                    <div class="modal-body">
                        <h3 id="vidtitle">Title</h3>
                        <h3 id="vidsource">Source: </h3>

                        <video id="video" controls>
                            <source id="video_box" src="" type="video/mp4"></source>
                        </video>
                    </div>
                </div>

            </div>
        </div>

        <!-- Audio Modal -->
        <div id="audiomodal" class="modal audio-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="audio_close" class="close_btn btn">Close</button>
                        <h2 class="audio-modal-title">Audio Player</h2>
                    </div>
                    <div class="modal-body">
                        <h3 id="audiotitle">Title</h3>
                        <h3 id="audiosource">Source: </h3>

                        <div id="waveform"></div>
                        <div class="text-center">
                            <button id="play_btn" class="btn">Play <i class="fa fa-play"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="backdrop"></div>

    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/loadImage.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <script type="text/javascript" src="{% static 'js/loadAudio.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loadVideo.js' %}"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

{% endblock %}
