{% extends 'srs/base_srs.html' %}
{% load app_filters static %}

{% block site_content %}
    <div title="search_bar"><input type="text" id="autocomplete" placeholder="Enter Keywords"></div>
    <a><h2>Edit</h2></a> 
    <a><h2>Make</h2></a> 
    <a><h2>Delete</h2></a> 
    <a><h2>Select</h2></a>
    <a><h2>Subject</h2></a>
    <a><h2>Alpha</h2></a> 
    <a><h2>Revu</h2></a> 
    <a href="{% url 'import_notecard' name=notecards.0.notefile %}"><h2>Import</h2></a>
    <a><h2>Export</h2></a> 
    <a><h2>Label</h2></a> 
    <a href="{% url 'welcome' %}"><h2>Quit</h2></a>
{% endblock %}

{% block content %}
 <div class="container" style="position:relative;">

    <div id="notecard_list" style="margin-top: 30px;">
    {% for i in "12345" %}
        {% if forloop.counter == 5 %}
        {% if forloop.counter <= notecards.count %}
            <a class="imageDiv" tabindex="1" href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}">
                    {{ notecards|lookup:i }}<br>{{ notecards|lookup_label:i }}
            </a>
        {% else %}
        <a class="imageDiv" tabindex="1"></a>
        {% endif %}
        {% elif forloop.counter <= notecards.count %}
            <a class="imageDiv" id="bottomDiv{{i}}" tabindex="1" href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}">
                {{ notecards|lookup:i }}<br>{{ notecards|lookup_label:i }}
            </a>
        {% else %}
            <a class="imageDiv" id="bottomDiv{{i}}" tabindex="1"></a>

        {% endif %}
    {% endfor %}
</div>
 </div>

<script type="text/javascript" src="{% static 'js/notecard_navigate.js' %}"></script>
<script>
    $(function(){
        var list = [
        {% for keyword in auto_list %}
            { value: "{{keyword}}"},
        {% endfor %}
         ];

        $('#autocomplete').autocomplete({
            lookup: list
        });
     });

    $("#autocomplete").keyup(function(){ 
        /*NOW READS KEYS PRESSED BUT NOW WHEN VALUE IS CHANGED BY CLICKING*/
        /*FILTER NOTECARDS BASED ON VALUES*/
        /*PASS NEW LIST TO NOTECARD CONTAINER*/

    });
</script>

{% endblock %}
