{% extends 'srs/base_srs.html' %}
{% load app_filters static %}

{% block site_content %}
    <a><h2>Edit</h2></a> 
    <a><h2>Make</h2></a> 
    <a><h2>Delete</h2></a> 
    <a><h2>Select</h2></a>
    <a><h2>Subject</h2></a>
    <a><h2>Alpha</h2></a> 
    <a><h2>Revu</h2></a> 
    <a><h2>Import</h2></a> 
    <a><h2>Export</h2></a> 
    <a><h2>Label</h2></a> 
    <a href="{% url 'welcome' %}"><h2>Quit</h2></a>
{% endblock %}

{% block content %}

 <div class="container" style="position:relative;">
    {% for i in "12345" %}
        {% if forloop.counter == 5 %}
            {% if forloop.counter <= notecards.count %}
                <a class="imageDiv" id="bottomDiv5" tabindex="1" href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}">
                    <!--{{ notecards|lookup:i }}<br>{{ notecards|lookup_label:i }}-->
                </a>
            {% else %}
                <a class="imageDiv" id="bottomDiv5" tabindex="1"></a>
            {% endif %}
        {% elif forloop.counter <= notecards.count %}
            <a class="imageDiv" id="bottomDiv{{i}}" tabindex="1" href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}">
                <!--{{ notecards|lookup:i }}<br>{{ notecards|lookup_label:i }}-->
            </a>
        {% else %}
            <a class="imageDiv" id="bottomDiv{{i}}" tabindex="1"></a>
        {% endif %}
    {% endfor %}
 </div>

<script>
alert("{{queryset}}");
var notecards = (("{{queryset}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
//notecards = JSON.parse(notecards);
alert(notecards);
alert(typeof notecards);
if(typeof notecards =='object')
{
  alert("Hello");
}
else{
    alert("World");
}
</script>
<script type="text/javascript" src="{% static 'js/notecard_navigate.js' %}"></script>

{% endblock %}
