{% extends 'srs/base_srs.html' %}
{% load app_filters static %}

{% block site_content %}
    <a><h2>Edit</h2></a> 
    <a><h2>Make</h2></a> 
    <a><h2>Delete</h2></a> 
    <a><h2>Select</h2></a>
    <a><h2>Subject</h2></a>
    <a><h2>Alpha</h2></a> 
    <a><h2>Revu</h2></a> 
    <a><h2>Import</h2></a> 
    <a><h2>Export</h2></a> 
    <a><h2>Label</h2></a> 
    <a href="{% url 'welcome' %}"><h2>Quit</h2></a>
{% endblock %}

{% block content %}

 <div class="container" style="position:relative;">
    {% for i in "12345" %}
        {% if forloop.counter == 5 %}
            <div class="imageDiv" tabindex="1">
                {% if forloop.counter <= notecards.count %}
                    <h3><a href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}" >{{ notecards|lookup:i }} </a></h3>
                {% endif %}
            </div>
        {% elif forloop.counter <= notecards.count %}
            <div class="imageDiv" id="bottomDiv{{i}}" tabindex="1" >
                <h3><a href="{% url 'notecard_detail' pk=notecards|lookup_pk:i %}" >{{ notecards|lookup:i }} </a></h3>
            </div>
        {% else %}
            <div class="imageDiv" id="bottomDiv{{i}}" tabindex="1"></div>

        {% endif %}
    {% endfor %}
 </div>

<script type="text/javascript" src="{% static 'js/notecard_navigate.js' %}"></script>

{% endblock %}
