{% extends 'srs/base_srs.html' %}

{% block site_content %}
    <a href="{% url 'selection_view' %}"><h2>Return to View Select</h2></a>
    <a href="{% url 'notecard_list' pk=pk %}"><h2>Back</h2></a>
    <a ><h2>Help</h2></a>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'create_video' pk=pk %}" class="top-menu" style="font-size:24px; float: right;" ><i class="fa fa-youtube-square"></i></a>
        <!--TODO: Add audio functionality-->
        <a href="{% url 'create_video' pk=pk %}" class="top-menu" style="font-size:24px; float: right;" ><i class="fa fa-play-circle-o"></i></a>
    </div>
    <div class="notecard">
        <h2>Title:</h2>
        <p>{{ notecard.name }}</p>
        <h2>Keywords:</h2>
        <p>{{ notecard.keywords }}</p>
        <h2>Body:</h2>
        <p>{{ notecard.body }}</p>
        <h2>Videos:</h2>
        {% for video in videos %}
            <div >
                <span>{{ video.url }}</span>
                <iframe src='{{ video.url }}' class="video_link" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
        <iframe id="videoFrame" width="560" src="https://www.youtube.com/watch?v=amtuB-2wGeQ" height="315" frameborder="0" onLoad="iframeDidLoad();" allowfullscreen></iframe>
    </div>

{% endblock %}
