{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'selection_view' %}" ><h2>Return to View Select</h2></a>
{% endblock %}

{% block content %}
    {% for video in videos %}
        <div class="video_container">
            <p class="vid_info">{{video.title}}</p>
            <a class="video_select" data-path="/media/{{video.video}}" title="{{video.title}}" data-source="{{video.url}}"><img src="{{video.thumbnail}}" width="190px" height="140px"></a>
        </div>
    {% endfor %}

    <!-- Video Modal -->
    <div id="vidmodal" class="modal video-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button id="vid_close" class="close_btn btn">Close</button>
                    <h2 class="video-modal-title">Video Player</h2>
                </div>
                <div class="modal-body">
                    <h3 id="vidtitle">Title</h3>
                    <h3 id="vidsource">Source: </h3>

                    <video id="video" controls>
                        <source id="video_box" src="" type="video/mp4"></source>
                    </video>
                </div>
            </div>

        </div>
    </div>

    <div class="backdrop"></div>

    <script type="text/javascript" src="{% static 'js/loadVideo.js' %}"></script>
{% endblock %}
