{% extends 'srs/base_srs.html' %}
{% load staticfiles %}

{% block site_content %}
    <a href="{% url 'selection_view' %}" ><h2>Return to View Select</h2></a>
{% endblock %}

{% block content %}
    {% for video in videos %}
        <div >
            <span><font color="white">{{ video.url }}</font></span>
            <br />
            <iframe src='{{ video.url }}' class="video_link" frameborder="0" allowfullscreen></iframe>
            <br />
            <br />
            <br />
        </div>
    {% endfor %}
{% endblock %}
