{% extends 'srs/base.html' %}

{% block site_content %}
    <a href="{% url 'notefile_list' %}" ><h2>Get</h2></a>
    <a href="{% url 'create_notefile' %}" ><h2>Create</h2></a>
    <h2>Dirpath</h2>
    <h2>Quit</h2>  
{% endblock %}

{% block content %}
    <h1>Welcome to SQUARENOTE &reg;, The Idea Librarian.</h1>
    <p>
        If you are used to other menu-driven programs, you will find SQUARENOTE easy to use.
        </p>

        <p>
        It has
            <ul style='color: white;'>
                <li>Simple menus</li>
                <li>Consistent prompts</li>
                <li>Context-sensitive HELP</li>
            </ul>
        </p>   
          
         <p>
            Selecting from the menus:<br>To choose a menu item, do ONE odf the following
                <ul style='color: white;'>
                    <li>Use the left and right arrow keys to position the cursor at the command; you want; then use the &lt;Enter&gt; key to select it.</li>
                    <li>Or simply press the first letter of the command</li>
                </ul>
        </p> 
{% endblock %}