{% extends 'srs/base.html' %}

{% block content %}

<div class="content-box">
    <h1 style="margin-bottom: 1em;">Welcome to the online Scientific Reference System &reg;,<br> The Idea Librarian.</h1>
    <p>
        If you are used to other menu-driven programs, you will find SRS easy to use.
        </p>

        <p>It has</p> 
        <ul style='color: white;'>
            <li>Simple menus</li>
            <li>Consistent prompts</li>
            <li>Context-sensitive HELP</li>
        </ul>  
          
         <p>Selecting from the menus:<br>To choose a menu item, do ONE of the following</p> 
        <ul style='color: white;'>
            <li>Use the left and right arrow keys to position the cursor at the command; you want; then use the &lt;Enter&gt; key to select it.</li>
            <li>Or simply press the first letter of the command</li>
        </ul>

</div>
{% endblock %}